:root {
  /* Color Palette (the calendar colors are found in @/web/cgi-bin/DivinumOfficium/Main.pm) */
  --black: #333333;
  --background: #f5f0e5;
  --grey: #8281a0;
  --red: #d94b58;
  --blue: #00639b;
  --green: #5d9c60;
  --purple: #8c6bb1;
  --maroon: #844444;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  padding: 0.5rem;
  color: var(--black);
}

body {
  min-width: 100%;
  background-color: var(--background);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue);
}

input[type="text"],
select {
  color: #333;
}

b,
strong {
  font-weight: bolder;
}

button {
  cursor: pointer;
}

.for-pc {
  display: none;
}

footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
  padding: 2rem 2rem 0;
  border-top: 1px solid var(--back);
  font-size: 1rem;
  text-align: center;
  max-width: 900px;
}

@media (min-width: 750px) {
  .for-sp {
    display: none;
  }

  .for-pc {
    display: block;
  }
}
