header {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 2rem 1rem 0rem;
}

header h1,
header h3 {
  margin: 0;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
  margin: 1rem auto 2rem;
  padding: 1rem;
  font-size: 1rem;
  max-width: 470px;
  width: 80%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

main {
  margin: 0 auto;
  text-align: center;
}

.hero-image {
  width: 80%;
  max-width: 1060px;
  margin: 0 auto;
  display: block;
}

.donate {
  margin: 1rem auto 2rem;
}

.text-section {
  text-align: center;
  margin: auto;
  padding: 0 2rem;
  max-width: 1060px;
}
